body {
  font-family: "Poppins", sans-serif;
}

.navbar1 {
  position: sticky;
  width: 100%;
  top: 0px;
  z-index: 2;
  background-color: black;
}

#burgermenu {
  background-color: yellow;
}

ul {
  list-style: none;
}

#navlist {
  color: yellow;
}

.nav-link:hover {
  border-bottom: 2px solid blue;
}

#pcaption,
#caption {
  background-color: rgba(0, 0, 0, 0.314);
  color: yellow;
}

#prevnext {
  z-index: 1;
}

#cbheading {
  background-color: rgba(0, 0, 0, 0.809);
  color: yellow;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  padding-top: 20px;
  padding-bottom: 20px;
}

#footer {
  background-color: yellow;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  padding-top: 30px;
  padding-bottom: 10px;
}

#xsfooter {
  background-color: yellow;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  padding-top: 30px;
  padding-bottom: 10px;
}

#icon {
  width: 30px;
}

#copyright {
  color: black;
}

#impterms {
  background-color: rgba(0, 0, 0, 0.809);
  color: yellow;
}

#importantterms {
  background-color: rgba(0, 0, 0, 0.809);
  padding-bottom: 80px;
}

.card {
  background-color: yellow;
  max-height: 300px;
  height: 200px;
  margin-bottom: 20px;
}

.card-title {
  text-align: center;
}

#pgcalculation {
  background-color: rgba(0, 0, 0, 0.809);
  color: yellow;
}

#calculationpage {
  background-color: rgba(0, 0, 0, 0.809);
}

#formtext {
  color: yellow;
}

#tabletitle {
  background-color: rgba(0, 0, 0, 0.809);
  color: yellow;
  padding-top: 187px;
  padding-bottom: 50px;
}

#sftable {
  background-color: rgba(0, 0, 0, 0.809);
  color: yellow;
  padding-top: 0px;
  padding-bottom: 187px;
}

#tableborder,
td,
th {
  border: 1px solid;
  color: yellow;
  margin: auto;
}

#tfaq {
  background-color: rgba(0, 0, 0, 0.809);
  color: yellow;
  padding-top: 168px;
  padding-bottom: 100px;
}

#faqpage {
  background-color: rgba(0, 0, 0, 0.809);
  padding-bottom: 168px;
}

#aboutpage {
  background-color: rgba(0, 0, 0, 0.809);
  color: yellow;
  padding-top: 205px;
  padding-bottom: 205px;
}