table,
tr,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 10px;
  color: yellow;
  background-color: black;
}
th {
  justify-content: center;
}
td {
  justify-content: center;
  align-items: center;
}
tr {
  justify-content: center;
}
.icon {
  width: 40px;
  height: 40px;
}
#footer {
  background-color: yellow;
}
